<header xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="main-nav" sec:authorize="isAnonymous()">
        <ul>
            <li>
                <a th:href="@{/}">Home</a>
            </li>
            <li>
                <a th:href="@{/users/login}">Login</a>
            </li>
            <li>
                <a th:href="@{/users/register}">Register</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
        </ul>
    </nav>

    <nav class="main-nav"sec:authorize="isAuthenticated()" >
        <ul>
            <li>
                <a th:href="@{/routes/add}">Add new route</a>
            </li>
            <li>
                <a href="/">Profile</a>
            </li>
            <li>
                <a href="/">Admin</a>
            </li>
            <li>
                <form th:action="@{/users/logout}"
                      th:method="post">
                    <input class="btn" type="submit" th:value="Logout">
                </form>
            </li>
        </ul>
    </nav>
</header>